
{% extends "_base.html" %}
{% load static %}
{% block content %}
			<!--================================banner section start ===========================  -->
			<div class="banner_slider_one mb-120 lg-mb-80 tran5s " id="banner_slider_one">
				<div class="iten">
					<div class="banner-one tran5s pt-220 pb-140 md-pt-100 md-pb-80" style="background: linear-gradient(90deg, #7B7B7B 0%, rgba(84, 81, 81, 0.73) 23.44%, rgba(27, 25, 25, 0.00) 100%), url('images/bg/bg-01.jpg') center center no-repeat;">
						<div class="container">
							<div class="row">
								<div class="banner-rapper-one ms-auto position-relative">
									<img src="images/shape/shape-01.svg" alt="" class="shapes shape-01">
									<img src="images/shape/shape-02.svg" alt="" class="shapes shape-02">
									<div class="top_heading mb-30"><span class="span-one">Digital</span></div>
									<div class="mb-60 md-mb-30"><h1 class="h1 color-two fw-700">We are <br> Digital Marketing <br> Creative Gigg</h1></div>
									<div class=""><a href="" class="custom-btn-one">Find Solution</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="iten">
					<div class="banner-one tran5s pt-220 pb-140 md-pt-100 md-pb-80" style="background: linear-gradient(90deg, #7B7B7B 0%, rgba(84, 81, 81, 0.73) 23.44%, rgba(27, 25, 25, 0.00) 100%), url('images/bg/bg-03.jpg') center center no-repeat;">
						<div class="container">
							<div class="row">
								<div class="banner-rapper-one ms-auto position-relative">
									<img src="images/shape/shape-01.svg" alt="" class="shapes shape-01">
									<img src="images/shape/shape-02.svg" alt="" class="shapes shape-02">
									<div class="top_heading mb-30"><span class="span-one">Digital</span></div>
									<div class="mb-60 md-mb-30"><h1 class="h1 color-two fw-700">We are <br> Digital Marketing <br> Creative Gigg</h1></div>
									<div class=""><a href="" class="custom-btn-one">Find Solution</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="iten">
					<div class="banner-one tran5s pt-220 pb-140 md-pt-100 md-pb-80" style="background: linear-gradient(90deg, #7B7B7B 0%, rgba(84, 81, 81, 0.73) 23.44%, rgba(27, 25, 25, 0.00) 100%), url('images/bg/bg-04.jpg') center center no-repeat;">
						<div class="container">
							<div class="row">
								<div class="banner-rapper-one ms-auto position-relative">
									<img src="images/shape/shape-01.svg" alt="" class="shapes shape-01">
									<img src="images/shape/shape-02.svg" alt="" class="shapes shape-02">
									<div class="top_heading mb-30"><span class="span-one">Digital</span></div>
									<div class="mb-60 md-mb-30"><h1 class="h1 color-two fw-700">We are <br> Digital Marketing <br> Creative Gigg</h1></div>
									<div class=""><a href="" class="custom-btn-one">Find Solution</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--================================banner section end ===========================  -->

			<!--================================about section start ===========================  -->
			<section class="about-one mb-180 lg-mb-80 position-relative tran5s wow fadeInUp">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="left-about position-relative">
								<div class=""><img src="images/about/about-01.jpg" alt="" class=""></div>
								<div class=""><h5 class="h5 fw-400 mt-30">Incredibly fast and amazing features</h5></div>
								<div class=""><p class="mb-30 mt-30">We provide digital experience services to startups and small businesses velit purus aliquet, massa fringilla</p></div>
								<div class=""><a href="" class="custom-btn-one fw-500">About us</a></div>
							</div>
						</div>
						<div class="col-lg-6 offset-lg-1 mt-50">
							<div class=""><span class="span-two">Business GROWTH</span></div>
							<div class="heading-shape mt-20 lg-mt-10"><h4 class="position-relative h4 fw-700">Best Digital <br> Creative Agency</h4></div>
							<div class=""><p class="fw-500 fs-18 mt-50 lg-mt-20">There are many variations of passages of lorem in free market to available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p></div>
							<div class="mt-40 mb-40 lg-mt-20 lg-mb-20">
								<ul class="about-list fw-500 fs-20">
									<li>For marketing professionals</li>
									<li>The New Event Marketing Opportunity</li>
									<li>The New Event Marketing Opportunity</li>
								</ul>
							</div>
							<div class=""><p class="opacity fw-500 fs-18">Variations of passages of lorem in free market to available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p></div>
						</div>
					</div>
				</div>
			</section>
			<!--================================about section end ===========================  -->

			<!--================================work history start ===========================  -->
			<section class="work-history-one mb-140 lg-mb-80 tran5s wow fadeInUp">
				<div class="container">
					<div class="work-rapper-one pt-60 pb-60">
						<div class="row">
							<div class="col-lg-4">
								<div class="work-one text-center md-mb-30 position-relative">
									<div class=""><h4 class="work heading fw-700 color-two"><span class="counter">10</span>k+</h4></div>
									<div class=""><span class="fw-500 fs-20 upercase">Experienced designers</span></div>
									<div class=""><span class="fs-16 opacity">Our company has 100 expert</span></div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="work-one text-center md-mb-30 position-relative">
									<div class=""><h4 class="work heading fw-700 color-two"><span class="counter">10</span>k+</h4></div>
									<div class=""><span class="fw-500 fs-20 upercase">SATISFIED CUSTOMERS</span></div>
									<div class=""><span class="fs-16 opacity">Our company satisfied customer</span></div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="text-center position-relative">
									<div class=""><h4 class="work heading fw-700 color-two"><span class="counter">120</span>k+</h4></div>
									<div class=""><span class="fw-500 fs-20 upercase">COMPLETED CASSES</span></div>
									<div class=""><span class="fs-16 opacity">We have done 1200 Cassses</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--================================work history end ===========================  -->

			<!--================================our offer section start ===========================  -->
			<section class="our-offer-one tran5s wow wow fadeInUp">
				<div class="container">
					<div class="offer-rapper-one position-relative pt-100 pb-140 md-pt-50 md-pb-70">
						<div class="shape_001"></div>
						<div class="shape_002"></div>
						<div class="shape_003"></div>
						<div class="text-center mb-100 md-mb-50">
							<div class=""><span class="span-two">WHAT WE OFFER</span></div>
							<div class=""><h4 class="heading_shape position-relative h4 fw-700 mt-20">What We’re Offering Creative <br> Digital Service</h4></div>
						</div>
						<div class="row">
							<div class="col-xl-3 col-lg-6">
								<div class="offer-one lg-mb-30 text-center">
									<div class="offer-pic mb-20 lg-mb-30"><img src="images/icon/offer_01.svg" alt="" class=""></div>
									<div class="mb-10 lg-mb-30"><h6 class="h6 fw-700"><a href="" class="">Digital Experience</a></h6></div>
									<div class="mb-20 lg-mb-30"><p class="fs-16">Need something changed or is there something not quite working Aellente</p></div>
									<div class=""><a href="" class="offer-link"> <img src="images/icon/arrow_01.svg" alt="" class=""></a></div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6">
								<div class="offer-one lg-mb-30 text-center">
									<div class="offer-pic mb-20 lg-mb-30"><img src="images/icon/offer_02.svg" alt="" class=""></div>
									<div class="mb-10 lg-mb-30"><h6 class="h6 fw-700"><a href="" class="">Project strategy</a></h6></div>
									<div class="mb-20 lg-mb-30"><p class="fs-16">Need something changed or is there something not quite working Aellente</p></div>
									<div class=""><a href="" class="offer-link"> <img src="images/icon/arrow_01.svg" alt="" class=""></a></div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6">
								<div class="offer-one lg-mb-30 text-center">
									<div class="offer-pic mb-20 lg-mb-30"><img src="images/icon/offer_03.svg" alt="" class=""></div>
									<div class="mb-10 lg-mb-30"><h6 class="h6 fw-700"><a href="" class="">Marketing</a></h6></div>
									<div class="mb-20 lg-mb-30"><p class="fs-16">Need something changed or is there something not quite working Aellente</p></div>
									<div class=""><a href="" class="offer-link"> <img src="images/icon/arrow_01.svg" alt="" class=""></a></div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6">
								<div class="offer-one text-center">
									<div class="offer-pic mb-20 lg-mb-30"><img src="images/icon/offer_04.svg" alt="" class=""></div>
									<div class="mb-10 lg-mb-30"><h6 class="h6 fw-700"><a href="" class="">Development</a></h6></div>
									<div class="mb-20 lg-mb-30"><p class="fs-16">Need something changed or is there something not quite working Aellente</p></div>
									<div class=""><a href="" class="offer-link"> <img src="images/icon/arrow_01.svg" alt="" class=""></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--================================our offer section end ===========================  -->

			<!--================================why choose us start ===========================  -->
			<section class="choose-one mb-140 lg-mb-80 tran5s wow fadeInUp">
				<div class="container">
					<div class="choose-one-rapper pt-90 md-pt-50 position-relative">
						<img src="images/shape/shape-05.svg" alt="" class="shapes shape-05">
						<img src="images/shape/shape-06.svg" alt="" class="shapes shape-06">
						<div class="row d-flex align-items-end">
							<div class="col-lg-6">
								<div class="left-choose position-relative md-mb-80">
									<div class=""><span class="span-two">WHY US</span></div>
									<div class=""><h4 class="h4 position-relative fw-700 mt-10 mb-40">We Give You Digital Solutions</h4></div>
									<div class=""><p class="mb-30">Sed lectus vestibulum mattis ullamcorper velit sed ullamcorperbi. Fusce id velit ut tortor pretium viverra suspendisse fuis ultricies lacus sed turpis tincidunt id aliquet. Sed viverra tellus sed lectus vestibulum mattis</p></div>
						            <div class="progress_one mb-20">
										<span class="fs-20 fw-500 position-relative">Website Development</span>
										<div class="progress mt-20 position-relative">
											<div class="progress-bar bar-width-one bg-dark" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
									<div class="progress_two mb-20">
										<span class="fs-20 fw-500 position-relative">Digital Products</span>
										<div class="progress mt-20 position-relative">
											<div class="progress-bar bar-width-two bg-dark" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
									<div class="progress_three">
										<span class="fs-20 fw-500 position-relative">Website Development</span>
										<div class="progress mt-20 position-relative">
											<div class="progress-bar bar-width-three bg-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="right-choose position-relative pl-20 md-pl-0">
									<img src="images/about/about-02.png" alt="" class="about-02">
									<img src="images/shape/shape-07.svg" alt="" class="shape-07">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--================================why choose us end ===========================  -->

			<!--================================case study section start ===========================  -->
		     <section class="case_study-_one mb-140 lg-mb-80 tran5s wow fadeInUp">
				<div class="container-fluid">
					<div class="case_study_rapper">
						<div class="text-center mb-80 md-mb-50">
							<div class=""><span class="span-two">NEW CASE STUDIES</span></div>
							<div class="mt-20"><h4 class="h4 fw-700 position-relative">We Are Passionate About Our <br> Clients And Our Work.</h4></div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-4">
								<div class="case-one md-mb-30 position-relative">
									<a href="images/case/case_01.png" class="view_pic"><img src="images/case/case_01.png" alt="" class=""></a>
									<div class="shapes hover-box">
										<span class="span-two">Strategy</span>
										<h6 class="h6"><a href="case-details.html" class="">Digital Experience Development Case</a></h6>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="case-one md-mb-30 position-relative">
									<a href="images/case/case_02.png" class="view_pic"><img src="images/case/case_02.png" alt="" class=""></a>
									<div class="shapes hover-box">
										<span class="span-two">Strategy</span>
										<h6 class="h6"><a href="case-details.html" class="">Digital Experience Development Case</a></h6>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="case-one md-mb-30 position-relative">
									<a href="images/case/case_03.png" class="view_pic"><img src="images/case/case_03.png" alt="" class=""></a>
									<div class="shapes hover-box">
										<span class="span-two">Strategy</span>
										<h6 class="h6"><a href="case-details.html" class="">Digital Experience Development Case</a></h6>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="case-one position-relative">
									<a href="images/case/case_04.png" class="view_pic"><img src="images/case/case_04.png" alt="" class=""></a>
									<div class="shapes hover-box">
										<span class="span-two">Strategy</span>
										<h6 class="h6"><a href="case-details.html" class="">Digital Experience Development Case</a></h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			 </section>	
			<!--================================case study section end ===========================  -->

		

			<!--================================blog section start ===========================  -->
			<div class="blog-one mb-140 lg-mb-80 position-relative wow fadeInUp">
				<div class="container">
					<div class="blog-one-rapper position-relative pt-90 pb-120 md-pt-40 md-pb-50">
						<img src="images/shape/shape-10.svg" alt="" class="shapes shape-10">
						<img src="images/shape/shape-11.svg" alt="" class="shapes shape-11">
						<span class="shapes shape_003"></span>
						<div class="text-center">
							<div class=""><span class="span-two fs-16 fw-500">Our Blog update</span></div>
							<div class=""><h4 class="heading h4 fw-700 pt-0 position-relative ">Recent Important Stories <br> Daily Updated</h4></div>
						</div>
						<div class="blog-one-content mt-80 md-mt-50">
							<div class="row">
								<div class="col-xl-4 col-lg-6 lg-mb-30">
									<div class="card">
										<img src="images/blog/blog_01.jpg" alt="" class="">
										<div class="card-body">
											<div class="pt-20">
												<img src="images/icon/calendar.svg" alt="" class=""><span class="pl-10 fs-15 fw-400">15 Nov, 2023</span>
												<img src="images/icon/comment.svg" alt="" class="pl-10"><span class="pl-10 fs-15 fw-400">12 Comment</span>
											</div>
											<div class=""><h6 class="color-one pt-20 fw-700 lh-36"><a href="">Digital Privacy Changes And The Impact On Advertising</a></h6></div>
											<div class=""><p class="pt-20 fs-16 mb-20">Dolor sed maecenas quis faucibus justo nibh ultricies praesent justo dolor</p></div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-lg-6 lg-mb-30">
									<div class="card">
										<img src="images/blog/blog_02.jpg" alt="" class="">
										<div class="card-body">
											<div class="pt-20">
												<img src="images/icon/calendar.svg" alt="" class=""><span class="pl-10 fs-15 fw-400">15 Nov, 2023</span>
												<img src="images/icon/comment.svg" alt="" class="pl-10"><span class="pl-10 fs-15 fw-400">12 Comment</span>
											</div>
											<div class=""><h6 class="color-one pt-20 fw-700 lh-36"><a href="">Identity Design for a New Modern Agency</a></h6></div>
											<div class=""><p class="pt-20 fs-16 mb-20">Dolor sed maecenas quis faucibus justo nibh ultricies praesent justo dolor</p></div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-lg-6 lg-mb-30">
									<div class="card">
										<img src="images/blog/blog_03.jpg" alt="" class="">
										<div class="card-body">
											<div class="pt-20">
												<img src="images/icon/calendar.svg" alt="" class=""><span class="pl-10 fs-15 fw-400">15 Nov, 2023</span>
												<img src="images/icon/comment.svg" alt="" class="pl-10"><span class="pl-10 fs-15 fw-400">12 Comment</span>
											</div>
											<div class=""><h6 class="color-one pt-20 fw-700 lh-36"><a href="">Inspiring Stories of Web Designers</a></h6></div>
											<div class=""><p class="pt-20 fs-16 mb-20">Dolor sed maecenas quis faucibus justo nibh ultricies praesent justo dolor</p></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--================================blog section  end===========================  -->
			{% endblock content %}	
			